{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block body %}
    <style>






    </style>


<div class="formul">
    <p class="h1">Inscris toi !</p>
    <div class="formulaire">
    <div id="form">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'Email:    '
        }) }}
    <br>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe:    '
        }) }}
    <br>
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Accepter les Termes Et Conditions              '
        }) }}
    <br>

        <button type="submit" class="btn">Créer le compte</button>
    {{ form_end(registrationForm) }}
    <br>
    </div>
    </div>
    </div>
{% endblock %}
