{% extends 'base.html.twig' %}

{% block title %}Hello ManifController!{% endblock %}

{% block body %}

     <style>

         @import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
         @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
         #encadre{
             display: flex;
             width: 100vw;
             flex-wrap: wrap;
             align-items: center;
             justify-content: center;


         }
         .Titre_manif{
             display: flex;
             align-items: center;
             justify-content: center;
             font-size: 1.4em;
             font-family: "Fjalla One";

         }
         .ligne{
             width: 70vw;
             height: 1px;
             background-color: black;
             display: flex;
             justify-content: center;
             align-items: center;


         }
         .conseil{
             width: 100vw;
             height: 20vh;
             display: flex;
             align-items: center;
             justify-content: center;



         }
         .conseil button{
             width: 20vw;
             height: 10vh;
             font-size: 1.2em;
             font-family: "Fjalla One";
             border-radius: 10px;
         }

         #motodispo{
             height: 10vh;
             display: flex;
             justify-content: center;
             align-items: center;

         }





         .affiche{
             display: flex;
             flex-direction: column;
             flex-wrap: wrap;
             margin: 10px 20px;

         }






         .carte img{
             box-shadow: 2px 2px 2px 2px rgb(184, 184, 184);
             width:15vw;
             height: 40vh;
             display: flex;
             align-items: center;
             justify-content: center;
             background-size: cover;
             border-radius: 8px 8px 0px 0px;
             background-color: rgb(145, 68, 68);
         }
         .fa-calendar-days{
             color: rgb(75, 73, 74);

         }
         .fa-location-dot{
             color: rgb(75, 73, 74);
         }



         .carteBas{
             background-color: rgb(238, 238, 238);
             border-radius: 0px 0px 8px 8px;
             box-shadow: 2px 2px 2px 2px rgb(184, 184, 184);
             width: 15vw;
             height: 20vh;

         }
         .carteBas p{

             margin-left: 5px;



         }
         .prix{
             color: crimson;
         }
         .p1{
             color: rgb(0, 0, 0);
             font-size: 20px;
             font-weight: bolder;
             font-family: "Fjalla One";
         }
         .p2{
             color: rgb(0, 0, 0);
             font-weight: bolder;
             font-family: "Fjalla One";
         }
         .p3{
             color: rgb(0, 0, 0);
             font-weight: bolder;
             font-family: "Fjalla One";
         }
         .p4{
             color: rgb(0, 0, 0);
             font-weight: bolder;
             font-family: "Fjalla One";
         }</style>






    <div id="list">



        <div id="motodispo">


            <div class="ligne"></div>

        </div>
        <div class="Titre_manif">
            <h1>Les concerts</h1>
        </div>
        {% for Manifestation in Manifestations %}


        <div id="encadr">
            <div class="affiche">




                <div class="carte">
                    <img src="{{ Manifestation.affiche }}">


                </div>
                <div class="carteBas">
                    <p class="p1">{{ Manifestation.titre }}</p>
                    <p class="p2"> {{ Manifestation.id }}</p>
                    <p class="p3"> {{ Manifestation.date }}</p>
                    <p class="p4"> Dès <span class="prix">{{ Manifestation.prix }}$</span></p>
                </div>
            </div>
            {% endfor %}


            <div class="conseil">
                <button>Nos meilleurs vente</button>
            </div>

        </div>





{% endblock %}
