{% extends 'base.html.twig' %}

{% block title %}Représentations{% endblock %}

{% block body %}








    <div id="list">



        <div id="motodispo">


            <div class="ligne"></div>

        </div>
        <div class="Titre_manif">
            <h1>Notre Catalogue</h1>

        </div>
        <div id="motodispo">


            <div class="ligne"></div>

        </div>

        <div class="Titre_manif">
            <h3>Recherche par Catégories</h3>
        </div>
        <div id="Recherche">
<form method="POST">
    <select name="genre">
        <option value="">Choisir...</option>
        <option value="Concert">Concert</option>
        <option value="Théâtre">Théâtre</option>
        <option value="Spectacle">Spectacle</option>
        <option value="Exposition">Exposition</option>
    </select>

        <button class="button-84" type="submit" role="button">Rechercher</button>

</form>
</div>





{#form(search_form)#}


        <div id="encadre">
            {% for Manifestation in Manifestations %}
            <div class="affiche">
            <a href=./manif/{{ Manifestation.GetId}}>



                <div class="carte">
                    <img src="{{ asset("image_sae301/#{Manifestation.affiche}") }}" alt="{{ Manifestation.titre }}">
            </a>


                </div>
                <div class="carteBas">
                    <p class="p1">{{ Manifestation.titre }}</p>


                    <p class="p3"> {{ Manifestation.date }}</p>
                    <p class="p3"> {{ Manifestation.lieu.lieuNom }}</p>

                    <p class="p4"> <span class="prix">{{ Manifestation.prix }}€</span></p>
                </div>

            </div>

            {% endfor %}




        </div>

        {% endblock %}
