{% extends 'base.html.twig' %}



{% block body %}


    <script src="https://kit.fontawesome.com/13e2270482.js" crossorigin="anonymous"></script>
<div id="imageFlou">
    <img class="image1Flou"src="{{ asset("image_sae301/#{Manifestations.affiche}") }}">
</div>
<div id="img_concert">
    <div id="encadre">





        <img id="affiche" class="kololo"src="{{ asset("image_sae301/#{Manifestations.affiche}") }}">

        <div class="titre">
            <p class="guest">{{ Manifestations.titre }}</p>
            <p class="guest">Organisé(e) par : {{ Manifestations.casting }}</p>
            <p class="guest">Catégorie : {{ Manifestations.genre }}</p>
            <div class="katrestar"><i class="fa-solid  hhoh fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>4.0</div>
            <p><a href="#avis">3 avis</a></p>
            <div class="top10"> <p>Top 10 ventes <i class="fa-solid fa-trophy"></i></p></div>


        </div>



    </div>


</div>
<div id="information">

    <div class="info">
        <h1>Informations</h1>
        <p> <i class="fa-solid fa-calendar-days"></i> {{ Manifestations.date }} à {{ Manifestations.horaire }}</p>
        <p><i class="fa-solid fa-location-pin"></i> {{ Manifestations.lieu.lieuNom }} </p>
        <p> {{ Manifestations.lieu.lieuAdrRue }}</p>
        <p class="Salle"> <a href="#iframeZone">Localiser la salle</a></p>
    </div>



    <div class="info2">
        <h1>Présentation</h1>
        <p>{{ Manifestations.description }} </p>
    </div>


    <div class="reserve">
        <h1>Réservation</h1>



        <span id="article">{{Manifestations.titre}}</span>
        <img  id="affiche" src="{{ asset("image_sae301/#{Manifestations.affiche}") }}">
        <p>Ticket disponible à </p>
         - <span id="prix">{{Manifestations.prix}} €</span>
        <input type="number" value="1" min="1" max="99" id="qte">
        <input type="hidden" id="id" value="{{ Manifestations.id }}">

        <button id="ajout" class="button-85">ajouter au panier</button>

            <div id="alert" style="display:none; background-color: blue">L'article a bien été ajouté !</div>
        <a href="/panier">
        <button id="ajout" class="button-85">Achetez Maintenat</button>
        </a>

    </div>


</div>
<div class="trait"></div>
<div id="avis">
    <h1>AVIS DES SPECTATEURS</h1>
    <div class="katrestar"><i class="fa-solid  hhoh fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>4.0</div>
    <button class="avis_bouton">Laisser un Avis</button>
</div>

<div class="liste_avis">
    <div class="avis1">
        <div class="star"><i class="fa-solid  hhoh fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>5.0</div>

        <p>Excellent moment passé en famille très bonne ambiance, prix très attractifs je recommande vivement.</p>
        <p class="pseudo_date">JimmyTwig92i - 03/10/22</p>
        <div class="trait_avis"></div>
    </div>
</div>
<div class="liste_avis">
    <div class="avis1">
        <div class="star"><i class="fa-solid  hhoh fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>4.0</div>

        <p>Agréable moment passé avec des amis, personnels très accueillant, je conseil très fortement</p>
        <p class="pseudo_date">Natalie Duik-bassem94 - 03/10/22</p>
        <div class="trait_avis"></div>
    </div>
</div>
<div class="liste_avis">
    <div class="avis1">
        <div class="star"><i class="fa-solid  hhoh fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>3.0</div>

        <p>Très bon moment passé malgré l’attente un peu longue .</p>
        <p class="pseudo_date">Patrick Céhessesse213 - 03/10/22</p>
        <div class="trait_avis"></div>
    </div>
</div>
<div id="iframeZone">
    <iframe src="{{ Manifestations.map }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
<div class="trait_avis"></div>

<script>

    ajout.addEventListener('click', () => {
        alert("l'article a bien été ajouté au panier ! ")


        })
</script>

<style>

    #affiche{
        width:20%;
    }
    .Salle{
        text-decoration: underline;
    }
    #information{
        margin-top: 20px;
        width: 100vw;
        padding: clamp(1rem,5vw,8rem);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 40px;
    }
    .info{
        width: 210px;
        height: 20rem;

    }
    .info2{
        width: 500px;
        height: 20rem;

    }

    .button-85 {
        margin-top: 20px;
        padding: 0.6em 2em;
        border: none;
        outline: none;
        color: rgb(255, 255, 255);
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-85:before {
        content: "";
        background: linear-gradient(
                45deg,
                #ff0000,
                #ff7300,
                #fffb00,
                #48ff00,
                #00ffd5,
                #002bff,
                #7a00ff,
                #ff00c8,
                #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing-button-85 20s linear infinite;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
    }

    @keyframes glowing-button-85 {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }

    .button-85:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #222;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

    .reserve{
        width: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;



    }

    button{
        margin: auto;
        width: 50%;


    }
    .trait{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 70vw;
        height: 2px;
        background-color: #868686;
        border-radius: 10px;
    }
    #avis{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


    }
    .liste_avis{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .avis1{
        width: 70vw;
    }
    .star{
        color: crimson;
        font-size: 15px;
        font-weight: bolder;
    }
    .pseudo_date{
        font-size: 15px;
        font-weight: bolder;


    }
    .trait_avis{
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 55vw;
        height: 1px;
        background-color: #868686;
        border-radius: 10px;
    }
    .avis_bouton{
        border: gray;
        width: 200px;
        height: 90px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: bolder;
        color: white;
        background-color: #9640d7;
    }
    body{
        height: 300vh;
    }
    #iframeZone{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:20px;

    }
    .iframe {
        border: 1px solid black;
        width: 50vw;
        height: 50vh;

    }

    #imageFlou{
        background-size: cover;
        filter: blur(15px);
        z-index: 1;


    }
    .image1Flou{
        background-size: cover;
        width: 100vw;
        height: 40vh;

    }
    #img_concert{

        height: 70vh;
        margin-left: 100px;
        margin-top: -200px;
        display: flex;
        justify-content: flex-start;
        z-index: 2;
    }
    #encadre{
        display: flex;
        width: 100vw;
        flex-wrap: wrap;
        z-index: 1;
        justify-content: flex-start;


    }
    .kololo{
        width: 30%;
        height:30rem;

    }
    .titre{
        margin-top: 100px;
        width: 40vw;
        height:20rem;
        margin-left: 20px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .titre h1{
        font-size: 50px;
        color: white;
    }
    .guest{

        font-size: 30px;
        color: black;
        background-color : white;
        margin-top:30px;
        font-weight: bolder;

    }
    .guest1{

        font-size: 50px;
        color: black;
        background-color : white;
        margin-top:30px;
        font-weight: bolder;

    }
    .top10{
        background-color: #ED4E50;
        width: 11vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 7px;
    }
    .top10 p{
        margin: auto;
    }
    .fa-star{
        color: crimson;
        margin-bottom: 5px;
    }
    .fa-cart-shopping{
        font-size: 40px;
        color: black;
    }
    .fa-user{
        font-size: 40px;
        color: black;

    }
    .fa-user:hover{
        color:rgb(194, 226, 162);

    }
    .fa-cart-shopping:hover{
        color:rgb(194, 226, 162);

    }
    .katrestar{
        color: crimson;
        font-size: 20px;
        margin-top:20px;
        font-weight: bolder;
    }









    .affiche{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px 20px;

    }


    body {
        overflow-x: hidden;
        font-family: Sans-Serif;
        margin: 0;
    }




.info p{
    color: #0f172a;
    font-size: 17px;
    margin-bottom: 20px;

}
.info a{
    color: #0f172a;
    font-size: 20px;
}


</style>

{% endblock %}

