{% extends 'base.html.twig' %}



{% block body %}


    <script src="https://kit.fontawesome.com/13e2270482.js" crossorigin="anonymous"></script>
<div id="imageFlou">
    <img class="image1Flou"src="{{ asset("image_sae301/#{Manifestations.affiche}") }}">
</div>
<div id="img_concert">
    <div id="encadreDuDetail">





        <img id="afficheDuDetail" class="kololo"src="{{ asset("image_sae301/#{Manifestations.affiche}") }}">

        <div class="titreDuDetail">
            <p class="guest">{{ Manifestations.titre }}</p>
            <p class="guest">Organisé(e) par : {{ Manifestations.casting }}</p>
            <p class="guest">Catégorie : {{ Manifestations.genre }}</p>
            <div class="katrestar"><i class="fa-solid  hhoh fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>4.0</div>
            <p><a href="#avis">3 avis</a></p>
            <div class="top10"> <p>Top 10 ventes <i class="fa-solid fa-trophy"></i></p></div>


        </div>



    </div>


</div>
<div id="information">

    <div class="info">
        <h1>Informations</h1>
        <p> <i class="fa-solid fa-calendar-days"></i> {{ Manifestations.date }} à {{ Manifestations.horaire }}</p>
        <p><i class="fa-solid fa-location-pin"></i> {{ Manifestations.lieu.lieuNom }} </p>
        <p> {{ Manifestations.lieu.lieuAdrRue }}</p>
        <p class="Salle"> <a href="#iframeZone">Localiser la salle</a></p>
    </div>



    <div class="info2">
        <h1>Présentation</h1>
        <p>{{ Manifestations.description }} </p>
    </div>


    <div class="reserve">
        <h1>Réservation</h1>



        <span id="article">{{Manifestations.titre}}</span>
        <img  id="afficheDuDetail" src="{{ asset("image_sae301/#{Manifestations.affiche}") }}">
        <p>Ticket disponible à </p>
         - <span id="prix">{{Manifestations.prix}} €</span>
        <input type="number" value="1" min="1" max="99" id="qte">
        <input type="hidden" id="id" value="{{ Manifestations.id }}">





        <button id="ajout" class="button-85">ajouter au panier</button>

            <div id="alert" style="display:none; background-color: blue">L'article a bien été ajouté !</div>

    </div>


</div>
<div class="trait"></div>
<div id="avis">
    <h1>AVIS DES SPECTATEURS</h1>
    <div class="katrestar"><i class="fa-solid  hhoh fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>4.0</div>
    <button class="avis_bouton">Laisser un Avis</button>
</div>

<div class="liste_avis">
    <div class="avis1">
        <div class="star"><i class="fa-solid  hhoh fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>5.0</div>

        <p>Excellent moment passé en famille très bonne ambiance, prix très attractifs je recommande vivement.</p>
        <p class="pseudo_date">JimmyTwig92i - 03/10/22</p>
        <div class="trait_avis"></div>
    </div>
</div>
<div class="liste_avis">
    <div class="avis1">
        <div class="star"><i class="fa-solid  hhoh fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>4.0</div>

        <p>Agréable moment passé avec des amis, personnels très accueillant, je conseil très fortement</p>
        <p class="pseudo_date">Natalie Duik-bassem94 - 03/10/22</p>
        <div class="trait_avis"></div>
    </div>
</div>
<div class="liste_avis">
    <div class="avis1">
        <div class="star"><i class="fa-solid  hhoh fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>3.0</div>

        <p>Très bon moment passé malgré l’attente un peu longue .</p>
        <p class="pseudo_date">Patrick Céhessesse213 - 03/10/22</p>
        <div class="trait_avis"></div>
    </div>
</div>
<div id="iframeZone">
    <iframe src="{{ Manifestations.map }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
<div class="trait_avis"></div>

<script>

    ajout.addEventListener('click', () => {
        alert("l'article a bien été ajouté au panier ! ")


        })
</script>

<style>




</style>

{% endblock %}

