{% extends 'base.html.twig' %}

{% block title %}AccueilController!{% endblock %}

{% block body %}
    <body>








    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{ asset('image_sae301/1.jpg') }}" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{ asset('image_sae301/2.jpg') }}" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{ asset('image_sae301/3.jpg') }}" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <div id="accueil">
        <div id="noel">
            <h1>Noël, le moment d'offrir un moment magique à ses proches</h1>

            <a href="manif" class="hehe"> Voir notre séléction ></a>
            <div class="trait"></div>
            <div id="encadre">

                <div class="affiche">

                    <div class="carte">
                        <a href="manif/1">

                            <img src="{{ asset('image_sae301/big.jpg') }}" alt="PhotoBigFlo">

                        </a>
                    </div>
                    <div class="carteBas">
                        <p class="p1"> Big flo & Oli Tour</p>
                        <p class="p2"> <i class="fa-solid fa-location-dot"></i>La cigale</p>

                        <p class="p3"> <i class="fa-solid fa-calendar-days "></i>  3 Mars 2023</p>
                        <p class="p3"><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>

                        <p class="p4"> <span class="prix">17 €</span></p>
                    </div>
                </div>



                <div class="affiche">
                    <div class="carte">
                        <a href="manif/13">
                        <img src="{{ asset('image_sae301/cirque.jpg') }}" alt="PhotoCirque">
                        </a>

                    </div>
                    <div class="carteBas">
                        <p class="p1"> Cirque Le Roux</p>
                        <p class="p2"> <i class="fa-solid fa-location-dot"></i>Café de la Danse</p>
                        <p class="p3"> <i class="fa-solid fa-calendar-days "></i>  8 janvier 2023</p>
                        <p class="p3"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></p>
                        <p class="p4"> <span class="prix">12 €</span></p>
                    </div>
                </div>



                <div class="affiche">
                    <div class="carte">
                        <a href="manif/3">
                        <img src="{{ asset('image_sae301/guy.jpg') }}"alt="PhotoGuy2">
                        </a>

                    </div>
                    <div class="carteBas">
                        <p class="p1"> Guy2 Tour</p>
                        <p class="p2"> <i class="fa-solid fa-location-dot"></i>Palais des sports</p>

                        <p class="p3"> <i class="fa-solid fa-calendar-days "></i>  7 janvier 2023</p>
                        <p class="p3"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>

                        <p class="p4"> <span class="prix">50 €</span></p>
                    </div>
                </div>



                <div class="affiche">
                    <div class="carte">
                        <a href="manif/15">
                        <img src="{{ asset('image_sae301/kimono.jpg') }}"alt="PhotoKimono">
                        </a>

                    </div>
                    <div class="carteBas">
                        <p class="p1"> Kimono Women</p>
                        <p class="p2"> <i class="fa-solid fa-location-dot"></i>Maison de la Mutualité</p>

                        <p class="p3"> <i class="fa-solid fa-calendar-days "></i>  15 janvier 2023</p>
                        <p class="p3"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>

                        <p class="p4"> <span class="prix">15 €</span></p>
                    </div>
                </div>





            </div>
        </div>





    </div>

    <div class="trait"></div>

    <div id="partenaireTitre"><h2>Ils nous font confiance</h2></div>

    <div class="parti2">

        <div class="partenaire">
            <img src="{{ asset('pngegg.png') }}"alt="PhotoAuchan">
        </div>
        <div class="partenaire">
            <img src="{{ asset('inter.png') }}"alt="PhotoInter">
        </div>
        <div class="partenaire">
            <img src="{{ asset('leclerc.png') }}"alt="PhotoLeclerc">
        </div>
        <div class="partenaire">
            <img src="{{ asset('carrefour.png') }}"alt="PhotoCarrefour">

        </div>

    </div>
    <div class="trait"></div>
    <div id="partenaireTitre"><h3>Pourquoi choisir MMI Events</h3></div>

    <div class="parti2">

        <div class="partenaire2">
            <img src="{{ asset('paiement-sec.jpeg') }}"alt="PhotoPaiementsec">
            Paiement 100% sécurisé
        </div>
        <div class="partenaire2">
            <img src="{{ asset('assistance.png') }}"alt="PhotoAssistance">
            assistance 24h/24h
        </div>
        <div class="partenaire2">
            <img src="{{ asset('rf.png') }}"alt="Photoremboursement">
            Remboursement en 24h
        </div>


    </div>

    </body>
{% endblock %}
