{% extends 'base.html.twig' %}

{% block title %}AccueilController!{% endblock %}

{% block body %}

    <div id="heroImage"><img src="https://www.francebillet.com/static_lotus/uploads/public/FBCOM/1122/bandeau-contextualisation-generique_desktop.jpg"></div>

    <div id="accueil">
        <div id="noel">
            <h1>Noël, le moment d'offrir un moment magique à ses proches</h1>

            <a href="manif.php" class="hehe"> Voir notre séléction ></a>
            <div class="trait"></div>
            <div id="encadre">

                <div class="affiche">

                    <div class="carte">

                        <img src="https://www.tours-evenements.com/sites/default/files/styles/event_full/public/media/public_event_image/tours-evenements-bigflo-oli.jpg?itok=EELOc7lQ">



                    </div>
                    <div class="carteBas">
                        <p class="p1"> Big flo & Oli Tour</p>
                        <p class="p2"> <i class="fa-solid fa-location-dot"></i>Accors Arena</p>

                        <p class="p3"> <i class="fa-solid fa-calendar-days "></i>  27 janvier 2023</p>
                        <div class="1star"><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></div>

                        <p class="p4"> Dès <span class="prix">17$</span></p>
                    </div>
                </div>
                <div class="affiche">
                    <div class="carte">
                        <img src="https://www.booska-p.com/wp-content/uploads/2021/12/Capture-de%CC%81cran-2021-12-22-a%CC%80-15.36.53-567x1024.png">



                    </div>
                    <div class="carteBas">
                        <p class="p1"> Drill FR Tour</p>
                        <p class="p2"> <i class="fa-solid fa-location-dot"></i>Bataclan</p>
                        <p class="p3"> <i class="fa-solid fa-calendar-days "></i>  22 décembre 2022</p>
                        <div class="4star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></div>
                        <p class="p4"> Dès <span class="prix">15$</span></p>
                    </div>
                </div>
                <div class="affiche">
                    <div class="carte">
                        <img src="https://pbs.twimg.com/media/FAr-kLgWYAEvje5.jpg">



                    </div>
                    <div class="carteBas">
                        <p class="p1"> Coco JoJo</p>
                        <p class="p2"> <i class="fa-solid fa-location-dot"></i>Parc des Princes</p>

                        <p class="p3"> <i class="fa-solid fa-calendar-days "></i>  27 janvier 2023</p>
                        <div class="3star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></div>

                        <p class="p4"> Dès <span class="prix">20$</span></p>
                    </div>
                </div>
                <div class="affiche">
                    <div class="carte">
                        <img src="https://lecomtois.com/imagesUp/evt/404480.jpg">



                    </div>
                    <div class="carteBas">
                        <p class="p1"> Naps Okay Okay Show</p>
                        <p class="p2"> <i class="fa-solid fa-location-dot"></i>La renardière</p>

                        <p class="p3"> <i class="fa-solid fa-calendar-days "></i>  22 janvier 2023</p>
                        <div class="2star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></div>

                        <p class="p4"> Dès <span class="prix">25$</span></p>
                    </div>
                </div>





            </div>
        </div>





    </div>

    <div class="trait"></div>

    <div id="partenaireTitre"><h2>Ils nous font confiance</h2></div>

    <div class="parti2">

        <div class="partenaire">
            <img src="{{ asset('pngegg.png') }}">
        </div>
        <div class="partenaire">
            <img src="{{ asset('inter.png') }}">
        </div>
        <div class="partenaire">
            <img src="{{ asset('leclerc.png') }}">
        </div>
        <div class="partenaire">
            <img src="{{ asset('carrefour.png') }}">

        </div>

    </div>
    <div class="trait"></div>
    <div id="partenaireTitre"><h3>Pourquoi choisir MMI Events</h3></div>

    <div class="parti2">

        <div class="partenaire2">
            <img src="{{ asset('paiement-sec.jpeg') }}">
            Paiement 100% sécurisé
        </div>
        <div class="partenaire2">
            <img src="{{ asset('assistance.png') }}">
            assistance 24h/24h
        </div>
        <div class="partenaire2">
            <img src="{{ asset('rf.png') }}">
            Remboursement en 24h
        </div>


    </div>

    </body>


{% endblock %}
