{% extends 'base.html.twig' %}

{% block title %}Nos Salles{% endblock %}

{% block body %}




        <div class="Salle">

    {% for Lieu in Lieux %}



            <div class="encadreSalle">

                <div class="afficheSalle">
                    <div class="carteSalle">

                        <img src="{{ asset("image_sae301/#{Lieu.affiche}") }}"alt="{{ Lieu.lieuNom }}">



                    </div>
                    <div class="carteBasSalle">
                        <p class="p1"> {{ Lieu.lieuNom }}</p>
                        <p class="p2"> <i class="fa-solid fa-location-dot"></i>{{ Lieu.lieuAdrRue }}</p>

                        <p class="p3"> <i class="fa-solid fa-users-viewfinder"></i></i>  {{ Lieu.lieuCapacite }}</p>
                        <div class="1star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></div>


                    </div>
                </div>








            </div>
        </div>
    {% endfor %}
        </div>







        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


        </style>


{% endblock %}
